# Ignore everything by default
*
!/**/

# Allow all HTML, XML, XSL files
!*.html
!*.xml
!.xsl

# Allow all JS files in wp-content and wp-includes recursively
*.js
!/wp-content/**/*.js
!/wp-includes/**/*.js
!/wp-content/**/*.css
!/wp-includes/**/*.css
!/css/custom.css
!/scripts/**/*.js
!/wp-content/**/*.webp
!/wp-content/**/*.jpeg
!/wp-content/mu-plugins/*.php

# ALLOW all JS files in functions folder
!/functions/**/*.js

# Other JS exceptions
*.mjs
!insertheaders.js
!amazonLinks.json

# Folders
.idea
.wrangler
engine
node_modules

# Specific files
!404.html
outdoorsavannah.com.iml
package-lock.json
wrangler.toml
!criticalcss
!/scripts/README.md
affiliate-links-page.html
