# Ignore everything by default
*
!/**/

# Allow all HTML files
!*.html

# Allow all JS files in wp-content and wp-includes recursively
*.js
!/wp-content/**/*.js
!/wp-includes/**/*.js

# ALLOW all JS files in functions folder
!/functions/**/*.js

# Other JS exceptions
*.mjs
!insertheaders.js
!amazonLinks.json

# Folders
.idea
.wrangler
engine
node_modules

# Specific files
outdoorsavannah.com.iml
package-lock.json
wrangler.toml
