# Ignore everything by default
*
!/**/

# Allow all JS files in wp-content and wp-includes recursively
*.js
!/wp-content/**/*.js
!/wp-includes/**/*.js

# Other JS exceptions
*.mjs
!insertheaders.js

# Folders
.idea
.wrangler
engine
node_modules

# Specific files
outdoorsavannah.com.iml
package-lock.json
wrangler.toml
